	body
	{	font-family: Arial, Verdana, sans-serif;
		font-size: 0.8em;
		color: #495060;
		background-color: white;
		margin: 0;
		padding: 0;
	}
	
	#conteneur
	{	width: 100vh;
		margin: auto;
		background-image:url(../images/photo5.png);
		background-repeat:no-repeat;
		background-size: cover;
	}
	
	header
	{	/*background: url("img/logo.jpg")  no-repeat top left ;*/
		height: 100px;
		border-bottom: 2px solid #495060;
		height: 20vh;
	}
	
	h1
	{	color: #495060;
		font-size: 3em;
		padding: 25px 0px 0px 100px;
		text-align: center;
	}
	h2{
		color: #C57075;
		font-weight: bold;
		font-size: 1.8em;
		border-bottom: 1px solid #D67940;
	}
	h3{
		color: #C57075;
		font-size: 1.6em;
		font-style: italic;
	}
	h4{
		color: #C57075;
		font-size: 1.3em;
		font-style: italic;
	}
	footer
	{	border-top: 2px solid #495060;
		clear: both;
	}

	nav	{
		display: inline-block;
		vertical-align: top;
		width: 250px;
		border-right: 2px solid #495060;
		height: 74vh;
	}
	
	section	{
		display: inline-block;    
		vertical-align: top;
		width: 700px;
		height: 74vh;
		background-color: #FAEBD7;
		overflow: auto;
		font-size: 1em;		
		/*color: #495060;*/
		margin-left: 60px;
		margin-bottom: 20px;
	}
	
	#main-section{
		width: 88%;
		text-align: justify;
		margin-left: 40px;

	}

	.imgfloat
	{
		float: left;
		margin: 0px 5px 5px 0px;
	}
	
	p
	{
		text-align: justify;
	}
	
	nav ul 
	{
		list-style-type: none;
		padding: 0px;
	}
	
	nav ul li a
	{
		display: block;
		width: 200px;
		border: 1px solid #B6D494;
		background-color: #C57075;
		margin: 10px 10px 10px 10px;
		padding: 3px 3px 3px 3px;
		text-align: center;
		font-size: 1.3em;
		font-weight: bold;
		text-decoration: none;
		color: white;
	}
	
	nav ul li a:hover
	{
		color: #D67940;
		background-color: white;
	}
	
	nav h1
	{
		color: #C57075;
		font-size: 2em;
		text-align: center;
	}

	table
{
    border-collapse: collapse;
    width: 400px;
}
th,td
{
    border:1px solid black;
    padding: 3px 0px 3px 0px;
    text-align: center;
    height: 30px;
}
thead
{
    background-color: #D67940;
    color:white;
}
.login{
    width: 100px;
	float: right;
	margin-right : 500px;
	color :#D67940;
	font-weight: bold;
	margin-top: 80px;
}
a {
	color:#D67940;
	text-decoration: none;
}
a:hover {
    text-decoration: none;
	color :#707279;
}	
	

#liens_images{
	display: flex;
	flex-wrap: wrap;
	border-style: solid black;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.div-image-article{
	width: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contain-form{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 100px;
}
.contain-form2{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 20px;
}

#form-contain{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 80%;
	flex-direction: column;
}

#form-contain2{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 80%;
	flex-wrap: wrap;
}
textarea{
	resize: none;
}
input{
	width: 40%;
	margin:10px;
}

::placeholder{
	font-style: italic;
}

.btn{
	width: 20%;
	border: 1px solid #B6D494;
	background-color: #C57075;
	color: white;
}

.liensdroite{
	text-align-last: right;
	margin: 0;
}
#input-titre{
	width: 80%;
}